.well.TOC{
    background:#cbe0e4;
}

.well.TOC ul li{
    list-style-type: none;
    word-break: break-word;
}

.well.TOC ul{
    margin: 0;
    padding: 0;
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
    column-count: 2;
    column-gap: 5px;
}

.well.TOC span{
    font-size: 14px;
    font-weight: bold;
    margin: 1em 0;
    display: block;
}

.well.TOC ul li a{
    font-size: 14px;
}