.well.tertiary{
    background:#cbe0e4;
}

.well.tertiary span{
    font-size: 14px;
    font-weight: bold;
    margin: 1em 0;
    display: block;
}

.well.tertiary ul li a{
    font-size: 14px;
}

@media screen and (max-width: 600px) {
	.well.tertiary .ul--2-column{
	    -webkit-column-count: 1;
    	column-count: 1;
	}
}